	<div class='container'>
	  <h2 class="text-center presentation-title">Bienvenue sur Bet Challenge ! LE site des pronostics entre amis !!</h2>
<!-- 	  {% if app.user %} -->
	  <div id='connection-area' class='row'>
	  	<div id='new_user_area' class='col-sm-6 home_connection_block'>
	  		<h3>Nouveaux joueurs, c'est par ici !</h3>
  			<!-- {% include 'user_form.html.twig' %} -->
	  	</div>
	  	<div id='connection_link' class='col-sm-6 home_connection_block'>
	  		<h3>Déjà inscrit ?</h3>
	  		<a href="#" class='btn btn-primary'>Connexion</a>
	  	</div>
	  </div>
<!-- 	  {% endif %} -->
	</div>
	<div class='row container-fluid odd-area'>
		<h3 class="text-center">Alors Bet Challenge, c'est quoi ?</h3>
		<hr>
		<p class="text-center h4-like">Eh bien Bet Challenge, c'est...</p>
		<div class='row text-center sm_flex_row_full_xs_column'>
			<div id='presentation_bets' class='col-sm-3 col-md-offset-1'>
				<p class='h4-like'>Des Bets (pronostics)...</p>
				<div class='round-shape'><img class='image-3d' src="/assets/img/misc/bet_example.png"></div>
				<p class='presentation_text'>Chaque journée de championnat, une grille 1N2 à remplir pour tester vos talents de pronostiqueur !!</p>
			</div>
			<hr class='hidden-md hidden-lg'>
			<div id='presentation_challenges' class='col-sm-6 col-md-7 col-md-offset-1'>
				<p class='h4-like'>Et des Challenges...</p>
				<div id='presentation_challenges_list' class='row flex_horizontal_full_width'>
					<div class='round-shape'><img src="/assets/img/misc/logo_ligue1.png"></div>
					<div class='round-shape'><img src="/assets/img/misc/logo_premier_league.png"></div>
				</div>
				<p class='presentation_text'>Ligue 1, Premier League et d'autres championnats sont disponibles pour vous défier entre amis et déterminer qui est le meilleur parieur !</p>
			</div>
		</div>
	</div>
	<div class='row container-fluid even-area'>
		<h3 class="text-center">Finis les calculs sur tableau noir ou feuille de papier. En quatre étapes, tout est réglé !!</h3>
		<div class='row text-center'>
			<hr>
			<div class=''>
				<p class='h4-like'>1. Créez votre groupe de potes</p>
				<img class='description_image' src="/assets/img/misc/new_group.png">
			</div>
			<hr>			
			<div class=''>
				<p class='h4-like'>2. Ajoutez chaque membre du groupe</p>
				<img class='description_image' src="/assets/img/misc/add_group_member.png">
			</div>
			<hr>
			<div class=''>
				<p class='h4-like'>3. Sélectionnez vos challenges</p>
				<img class='description_image' src="/assets/img/misc/add_group_challenge.png">
			</div>
			<hr>
			<div class=''>
				<p class='h4-like'>4. Et jouez ! Bet Challenge s'occupe du reste !!</p>
			</div>
		</div>
	</div>
